/* Styl przycisku strony dołączania */
button {
    margin-top: 10px;
}

/* Styl diva z zawierającego <canvas> */
#game-container {
    width: max-content;
    margin: auto;

    margin-top: 40px;
    display: none;
}