/* Styl przycisku strony dołączania */
button {
    margin-top: 10px;
}

/* Styl diva z zawierającego <canvas> */
#game-container {
    width: max-content;
    margin: auto;

    margin-top: 40px;
    display: none;
}

#player-div {
    width: 160px;
    height: 160px;
    overflow: hidden;
}

#player-choose-div *{
    float: left;
}
#player-choose-div *::selection {
    background-color: #0000;
}