/* Styl diva z zawierającego <canvas> */
#game-container {
    width: 100%;

    margin-top: 40px;
    display: none;
    cursor: crosshair;
}

canvas, #overlay-div {
    left: 0px;
    right: 0px;
    margin: auto;
}

canvas {
    position: absolute;
    z-index: 0;
}

#overlay-div {
    color: white;
    position: absolute;
    z-index: 3;
}
#overlay-div *{
    user-select: none;
}
#overlay-div *::selection{
    background-color: #0000;
}

.board {
    width: 300px;
    height: max-content;

    background-color: #0008;
    margin-left: auto;
    margin-top: 55px;
    padding: 20px;
}
.board > div:not([id="logo"]) {
    font: normal 25px 'Verdana';
}
.board #logo {
    text-align: center;
    font: bold 35px 'Caladea';
    margin-bottom: 25px;

    background: linear-gradient(#787878, #535353);
    box-shadow: 5px 5px 1px #c1c09d;

    margin-left: -10px;
    margin-right: -10px;
}
.board > div > div {
    float: left;
    margin-right: 8px;
}
.board > div > span {
    color: #65ff65;
    font-weight: bold;
}
hr {
    opacity: 0.6;
}

#game-board {
    display: none;
}

#button-div {
    text-align: center;
}

#bow div {
    float: left;
}
#progress-bar {
    margin-top: 5px;
    float: left;
}
#progress-bar div {
    float: left;
    width: 28px;
    height: 20px;

    outline: solid #989898 1px;
    margin-right: 5px;
}
#progress-bar div:first-child {
    background-color: #ff6565; 
    outline: none;
}

#title, #sub-title {
    text-align: center;
    text-shadow: 1px 1px 1px black;

    font-weight: bold;
    font-family: 'Verdana';
    opacity: 1;

    position: relative;
    z-index: 5;
    top: -100px;
    display: none;
}
#title {
    font-size: 90px;
    height: 110px;
}
#sub-title {
    font-size: 50px;
}